.fon{
position: static;
height: 618px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 100px 0px 100px;
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;
}
.phone_picture{
    position: absolute;
    background: url(./img/app.png);
    background-repeat: no-repeat;
    width: 578.91px;
    height: 700px;
    left: 34.05px;
    right: 758.95px;
    top: 18.91px;
    bottom: -18.91px;
}
.jir_text{
    position: absolute;
    width: 500px;
    height: 48px;
    left: 740px;
    top: 19px;
    bottom: -19px;
    color: rgb(50, 50, 50);
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}