.main_page{
    position: absolute;
    width: 1460px;
    height: 807px;
    left: -10px;
    right: -10px;
    top: 0px;
    bottom: 3548px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}
.header{
    position: relative;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 104px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 40px 0px;
}
.logo{
    position: relative;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0px 10px 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.menu{
    position: relative;
    right: 500px;
    top: 20px;
    width: 300px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}
.menu_objects{
    position: relative;
    width: 57px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 40px;
    color: rgb(50, 50, 50);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.signin_button{
    position: absolute;
    top: 5px;
    left: 1300px;
    width: 115px;
    height: 21px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 35px 20px 35px;
    flex: none;
    order: 2;
    flex-grow: 0;
    border-radius: 58px;
    background: rgb(251, 188, 5);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}
#shirokiy{
    width: 114px;
    height: 28px;
}
.menu_objects:hover{
    cursor: pointer;
}
.Hero{
    position: static;
    width: 1440px;
    height: 630px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 100px 0px 100px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 40px 0px;
}
.picture{
    position: relative;
    left: 850px;
    background: url(./img/ilustration.png), no-repeat;
    width: 576.86px;
    height: 574.97px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px -40px;
}
.title{
    background: url(./img/O\ melhor\ suporte\ no\ cuidado\ para\ seu\ melhor\ amigo.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 722px;
    height: 287px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 38px 0px;
}
.text{
    position: absolute;
    top: 500px;
    left: 112px;
    width: 498px;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 27px 0px 27px 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 38px 0px;
    color: rgb(50, 50, 50);
    font-family: Open Sans;
    font-size: 21px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
#b2{
    position: absolute;
    left: 112px;
    top: 750px;
}